* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
  }

  
  body {
    background-color:rgb(243, 233, 216);
    font-weight: bold;
    margin: 0px;
    padding: 50px;
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
  }
  .question {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(17, 3, 72);
  }
  .box {
    background-color:#C4D9FF ;
    margin: 5px 0px;
    padding:15px ;
    border-radius: 30px;
    cursor: pointer;
    gap: 0.5;

    
  }
  .options {
    list-style: none;
    padding: 0;
    display: grid;
    
  }
  .options li {
    background-color: #577BC1;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 30px;
  }
  .options li:hover {
    background-color: #C4D9FF
  }
  .feedback {
    margin-top: 20px;
    font-size: 18px;
  }
  .correct {
    color: green;
  }
  .incorrect {
    color: red;
  }
  
  canvas {
    position: absolute;
    padding: 2% 5%;
    
}
#timerText {
    font-size: 48px;
    font-weight: bold;
    color: rgb(17, 3, 72) ; 
    position: absolute;
    padding: 65px 9% ;
}
#score-display {
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px 79px;
  background-color:#C4D9FF ;
  color: rgb(17, 3, 72) ;

}
.title{
  padding: 10px 50px;
  margin: 0.5px 2px;
}